.env.*.php
.env.php
/app/Exceptions
/node_modules
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/temp
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
.env
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/app-translations
public/uploads.zip
